
.user {
  position: relative;
  margin: auto;
  padding: 20px;
  transform: translate(0%, 30%);
  background-color: #909090;
  height: 80%;
  width: fit-content;
  border-radius: 5%;
  text-align: center;
}
.icon{
  position: relative;
  left: 0%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  background-color: white;
}
.CityDiv{
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  margin: 20px;
  background-color: #04f7ff;
  border-radius: 5px;
}
.City{
  position: relative;
  left: 40%;
  top: 100%;
  padding: 20px;
  background-color: #909090;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  margin: 20px;
 
}
.InCity{
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding: 20px;
  transform: translate(0%, 0%);
 
}
.DogImg{
  position: relative;
  margin: auto;
  padding: 20px;
  transform: translate(0%, 0%);
  width: 200px;
  height: 200px;
  margin: 20px;

}
.Dog{
  display: flex;
  position: relative;
  margin: auto;
  padding: 20px;
  transform: translate(0%, 10%);
  background-color: #909090;
  width: fit-content;
  height: fit-content;
  border-radius: 5%;
  text-align: center;
}
.Searchbar{
  position: relative;
  margin: auto;
  padding: 20px;
  transform: translate(0%, 0%);
  background-color: #909090;
  width: fit-content;
  height: fit-content;
  border-radius: 5%;
  text-align: center;
}
.DogButton{
  position: relative;
  margin: auto;
  padding: 20px;
  transform: translate(650%, 0%);
  background-color: #909090;
  width: fit-content;
  height: fit-content;
  border-radius: 5%;
  text-align: center;
}
.SearchButton{
  position: relative;
  margin: auto;
  padding: 10px;
  transform: translate(5%, 0%);
  background-color: #909090;
  width: fit-content;
  height: 0%;
  border-radius: 5%;
  text-align: center;
}
.SearchButtonDog{
  position: relative;
  margin: auto;
  padding: 20px;
  transform: translate(580%, 0%);
  background-color: #909090;
  width: fit-content;
  height: 1%;
  border-radius: 5%;
  text-align: center;
}
.SearchbarDog{
  position: relative;
  margin: auto;
  padding: 20px;
  transform: translate(230%, 0%);
  background-color: #909090;
  width: fit-content;
  height: fit-content;
  border-radius: 5%;
  text-align: center;
}
.Error{
  position: relative;
  margin: auto;
  padding: auto;
  padding: 20px;
  transform: translate(0%, 10%);
  background-color: #868686;
  width: fit-content;
  height: fit-content;
  border-radius: 5%;
  text-align: center;
}
.ErrorNF{
  position: relative;
  margin-bottom: 5%;
  padding: auto;
  padding: 50px;
  transform: translate(100%, 0%);
  background-color: #868686;
  width: fit-content;
  height: fit-content;
  border-radius: 5%;
  text-align: center;
}
